<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title>Recettes</title>
  </head>
  <header>
    <h3> Des recettes et du fun </h3>
    </header>
  <body>
    <div class="container">
      <div class="content">
        <%= yield %>
        </div>
    </div>
<footer>
  <p> Merci d'utiliser notre super chercheur de recettes ! </p>
    <p> Créé par Manon, Margaux, Quentin et Alice. </p>
  </footer>
  </body>
</html>
